*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-sep{
    height: 5rem;
}

.separator{
    height: 1000px;
    width: auto;
}

body{
	background-color: #e3edf7;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  line-height: 1.3;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #ececee;
    background-color: #1f2029;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    height: 100vh;
    width: 100%;
    }



/* Header */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10001;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 10000;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 10001;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}






.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}



.logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 100000;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  .nav ul li a{
    font-size: 8vh;
  }
}


/*Sticky header*/
.header {
    padding: 10px 16px;
    background: rgb(255, 255, 255);
    color: #f1f1f1;
    height: 5rem;
    z-index: 100;
  }
  .content {
    padding: 16px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  .sticky + .content {
    padding-top: 102px;
  }



  /*Hero*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpaperaccess.com/full/2119474.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    margin-top: 75vh;
    margin-left: 10vw;
    transform: translate(-50%, -50%);
    color: white;
  }

  .section-center{
    margin-left: 15vw;
    display: block;
    width: 100%;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
  }

  .ht-1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 7vw;
    line-height: 1;
    color: white;
    text-align: center;
    -webkit-text-stroke: 3px white;
    text-stroke: 2px white;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.342);
    text-fill-color: rgba(255, 255, 255, 0.466);
    color: rgba(255, 255, 255, 0.466);
  }

  .hero-btn{
    font-weight: bold;
    margin-left: 3vw;
    margin-top: -3vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: rgb(241, 170, 170);
    color: black;
    font-size: 15px;
  } 

  .hero-btn:hover{
    cursor: pointer;
    background-color: white;
    color: salmon;
    transition: 1s ease-in-out;
  }

  .clip{
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10005;
    margin-left: 40vw;
    transition: 0.5s;
  }

  .clip.active{
    transform: translate(-50%, -50%) scale(1);
    transition-delay: 0.5s;
    background-color: rgba(0, 0, 0, 0.783);
  }

  .clip video{
    max-width: 1100px;
  }

  .clip .close{
    position: absolute;
    margin-top: -80vh;
    right: -150px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  @media (max-width: 987px) {
    .clip video{
        max-width: 90%;
    }
  }




/*Earth*/
/* .earth{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    background-image: url(https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2005/05/envisat_mosaic_may_-_november_2004/9695811-3-eng-GB/Envisat_mosaic_May_-_November_2004_pillars.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
}

@keyframes spin{
    100%{background-position: 100%;}
} */


/*Body*/

.b-1{
  height: 90vh;
  width: 100%;
  background-color: whitesmoke;
  color: black; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.gr-1{
  display: inline-block;
}

.box-1{
  
  height: 65vh;
  width: fit-content;
  padding-top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.box-2{
  height: 65vh;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-3{
  height: 65vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bh-1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  text-align: center;
}

.bh-2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
}

.bh-3{
  font-size: 80px;
  text-align: center;
}

span.r-icon {
  animation: tilt-shake 0.83s infinite;
}

span.r-icon:hover {
  animation: jump-shake 0.83s infinite ease-in-out;
}

@keyframes tilt-shake {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(5deg); }
  15% { transform: rotate(0eg); }
  30% { transform: rotate(-5deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@keyframes jump-shake {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}

/*SDG Card*/
.box-3 .sdg-card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.box-3 .sdg-card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8d568;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.box-3 .sdg-card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.box-3 .sdg-card:after{
  content: 'SDG';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.box-3 .sdg-card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.box-3 .sdg-card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
}

.box-3 .sdg-card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%) ;
  width: 250px;
}

.box-3 .sdg-card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transform: translateY(-35%);
  transition: 0.75s;
  z-index: 10;
}

.box-3 .sdg-card:hover .contentBx{
  height: 210px;
}

.box-3 .sdg-card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.box-3 .sdg-card .contentBx .size, .box-3 .sdg-card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 1rem;
  padding-bottom: 0;
}

.box-3 .sdg-card .contentBx .text3{
  transform: translateY(-25px);
  margin-bottom: 0;
  transition: 0.5s;
  opacity:0;
  color: #fac435;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  text-align: right;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
}

.box-3 .sdg-card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.box-3 .sdg-card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.box-3 .sdg-card:hover .contentBx .text3{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.7s;
}

.box-3 .sdg-card .contentBx .size h3, .box-3 .sdg-card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.box-3 .sdg-card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: default;
}

.box-3 .sdg-card .contentBx .size span:hover{
  background: #ffae42;
}

.box-3 .sdg-card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #F8D228;
  border-radius: 50%;
  margin: 0 5px;
}

.box-3 .sdg-card .contentBx .color span:nth-child(3){
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F8D228;
}

.box-3 .sdg-card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.box-3 .sdg-card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

.desc-1{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pattern{
  z-index: -10; 
  position:absolute;
  transform: rotate(170deg);
  margin-top: -50px;
}

.q1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  padding-left: 15rem;
  padding-right: 15rem;
}

.rep-btn{
  width: 25rem;
  font-weight: bold;
  margin-top: 3vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: rgb(229, 229, 229);
  color: rgb(56, 56, 56);
  font-size: 15px;
  
} 

.rep-btn:hover{
  cursor: pointer;
  background-color: rgb(23, 23, 23);
  color: rgb(255, 191, 191);
  transition: 0.2s ease-in-out;
}


/*Info Panel*/
.panel  {
  width: 0;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.panel .pane-1{
  font-weight: lighter;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #a8a8a8;
  padding-left: 15px;
}

.panel .pane-2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-top: 1rem;
  padding-left: 15px;
}

.cont{
  display: flex;
}

.pane-3{
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 22px;
  padding-right: 1rem;
}

.pane-4{
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.pane-5{
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.pane-6{
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 1rem;
}

.panel .pane-hr{
  padding-top: 8px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.324);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.pane-btn{
  width: 10rem;
  font-weight: bold;
  margin-top: 2px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: rgb(229, 229, 229);
  color: rgb(56, 56, 56);
  font-size: 15px;
  margin-left: 3rem;
  
} 

.pane-btn:hover{
  cursor: pointer;
  background-color: salmon;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
}

.prob {
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.prob:hover {
  color: #cecece;
  background-color: #41434c56;
  cursor: pointer;
}

.panel a{
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.panel a:hover {
  cursor: pointer;
}

.panel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}


/*body-3*/
.desc-2{
  height: auto;
  width: 100%;
  background-color: rgb(225, 214, 205);
  text-align: center;
  padding-bottom: 5rem;
  /* background-image: url(../imgs/line-content-group-pattern.png);
  background-size: cover; */
}

.desc-2 .bh-4{
  padding-top: 5rem;
  color: #383943;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.desc-2 .b{
  display: flex;
  height: 28rem;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.desc-2 .b .b1{
  height: 28rem;
  width: 40%;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-2 .b .b2{
  height: 28rem;
  width: 40%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b1-h3{
  font-weight: lighter;
  color: #1f2029;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  letter-spacing: 1.5px;
}

.desc-3{
  height: 80vh;
  width: 100%;
  background-color: rgb(225, 214, 205);
  text-align: center;
  /* background-image: url(../imgs/line-content-group-pattern.png);
  background-size: cover; */
  
}


/*Slider*/

.slider {
  width: 35rem;
  height: 25rem;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bottom, .middle, .top {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}
.top { width: 125px; }
.scroller {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.9;
  transition: opacity 0.12s ease-in-out;
  pointer-events: auto;
  cursor: pointer;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}
.scroller-middle { margin-top: 25px; }
.scroller-top { margin-top: -25px; }
.scroller:hover { opacity: 1; }
.scrolling {
  pointer-events: none;
  opacity: 1;
  z-index: 1;
}
.scroller__thumb {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 7px;
}
.scroller:before, .scroller:after {
  content: " ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition: 0.1s;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.2);
}
.scroller:before { top: 49px; }
.scroller:after { bottom: 49px; }
/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller-middle .scroller__thumb { border: 5px solid rgb(11, 1, 33); }
.scroller-middle:before, .scroller-middle:after { background: rgb(11, 1, 33); }
.scroller-top .scroller__thumb { border: 5px solid rgb(11, 1, 33); }
.scroller-top:before, .scroller-top:after { background: rgb(11, 1, 33); }



/*target*/
.target-wrapper {
  margin:auto;
  max-width:2000px;
}

#target-bar-container {
  position:relative;
  width:90%;
  margin:auto;
  height:100px;
  margin-top:65px;
}

#target-bar-container ul {
  padding:0;
  margin:0;
  padding-top:25px;
  z-index:10;
  position:absolute;
  width:100%;
  margin-top:-40px;
}

#target-bar-container li:before {
  content:" ";
  display:block;
  margin:auto;
  width:20px;
  height:20px;
  border-radius:50%;
  border:solid 2px grey;
  transition:all ease 0.3s;
}

#target-bar-container li.active:before, #target-bar-container li:hover:before {
  border:solid 2px #fff;
          
  background: linear-gradient(-15deg, #E91E63 0%,rgb(255, 165, 155) 100%); 
}

#target-bar-container li {
  list-style:none;
  float:left;
  width:10%;
  text-align:center;
  color:grey;
  text-transform:uppercase;
  font-size:11px;
  cursor:pointer;
  font-weight:700;
  transition:all ease 0.2s;
  vertical-align:bottom;
  height:60px;
  position:relative;
}

#target-bar-container li .step-inner {
  position:absolute;
  width:100%;
  bottom:0;
  font-size: 14px;
}

#target-bar-container li.active, #target-bar-container li:hover {
  color:#444;
}

#target-bar-container li:after {
  content:" ";
  display:block;
  width:6px;
  height:6px;
  background:#777;
  margin:auto;
  border:solid 7px #fff;
  border-radius:50%;
  margin-top:40px;
  box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
  transition:all ease 0.2s;
   
}

#target-bar-container li:hover:after {
  background:#555;
}

#target-bar-container li.active:after {
  background:salmon;
}

#target-bar-container #line {
  width:100%;
  margin:auto;
  background: rgb(179, 179, 179);
  height:6px;
  position:absolute;
  top:57px;
  z-index:1;
  border-radius:50px;
  transition:all ease 0.9s;
}

#target-bar-container #line-progress {
  content:" ";
  width:3%;
  height:100%;
  background: #207893;	 
  background: linear-gradient(to right, salmon 0%,#E91E63 75%, #dc1ee9 100%); 
  position:absolute;
  z-index:2;
  border-radius:50px;
  transition:all ease 0.9s;
}

#target-content-section {
  width:90%;
  margin: auto;
  background: #f3f3f3;
  border-radius: 4px;
}

#target-content-section .section-content {
  padding:30px 40px;
  text-align:center;
}

#target-content-section .section-content h2 {
  font-size:17px;
  text-transform:uppercase;
  color:#333;
  letter-spacing:1px;
}

#target-content-section .section-content p {
  font-size:16px;
  line-height:1.8em;
  color:#777;
}

#target-content-section .section-content {
  display:none;
  animation: FadeInUp 700ms ease 1;
  animation-fill-mode:forwards;
  transform:translateY(15px);
  opacity:0;
}

#target-content-section .section-content.active {
  display:block;
}

@keyframes FadeInUp {
  0% {
      transform:translateY(15px);
      opacity:0;
  }
  
  100% {
      transform:translateY(0px);
      opacity:1;
  }
}


/*Cards*/
/* .b4{
  background-color:  #e3edf7;
  margin-top: 0;
  padding-top: 1rem;
}


.cards{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
	padding: 2rem 0;
}

.cards .card{
	position: relative;
	width: 320px;
	height: 440px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
				inset -5px -5px 5px rgba(255,255,255,0.5),
				5px 5px 5px rgba(0,0,0,0.05),
				-5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;
	margin: 30px;
}

.cards .card .box{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: #ebf5fc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.cards .card:hover .box{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.4);
	background: linear-gradient(45deg, rgb(192, 255, 241), pink);
}

.cards .card .box .content{
	padding: 20px;
	text-align: center;
}

.cards .card .box .content h2{
	position: absolute;
	top: -10px;
	right: 30px;
	font-size: 8em;
	color: rgba(0,0,0,0.02);
	transition: 0.5s;
	pointer-events: none;
}


.cards .card:hover .box .content h2{
	color: rgba(0,0,0,0.05);
}

.cards .card .box .content h3{
	font-size: 1.8em;
	color: #777;
	z-index: 1;
	transition: 0.5s;
}

.cards .card .box .content p{
	font-size: 1em;
	font-weight: 300;
	color: #777;
	z-index: 1;
	transition: 0.5s;
	padding-top: 2rem;
}

.cards .card:hover .box .content h3{
	color: rgb(102, 75, 117);
}

.cards .card:hover .box .content p{
	color: rgb(162, 124, 223);
}

.cards .card .box .content .btn{
	background-color: transparent;
	border: 2px solid #ff0073a8;
	border-radius: 2rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 1rem;
	font-size: 15px;
	color: #777;
	text-decoration: none;
}

.cards .card .box .content a{
	text-decoration: none;
	color: #777;
}

.cards .card .box .content .btn:hover{
	background-color: #ff0072;
	border: 2px solid #ff0072;
	color: #fff;
	cursor:none;
}

.cards .card .box .content a:hover{
	text-decoration: none;
	color: #fff;
	cursor: none;
} */